.tks-esconde{
    background-color: #5900ff;
    display: none;
}
.tks-mostra{
    width: 270px;
    height: 260px;
    padding: 10px;
    margin-top: 200px;
    margin-left: 60%;
    position: absolute;
}
.logo-tks{
    width: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
}
.tks-mostra h4{
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
}
.tks-mostra p{
    text-align: center;
    font-size: .7rem;
    letter-spacing: 0px;
}
.tks-mostra .btn-continue{
    width: 90%;
    margin: 15px 5px;
    height: 30px;
    border-radius: 5px;
    background-color: #220930;
    color: #FFF;
}
@media(max-width: 375px) {
    .tks-mostra{
        width: 90%;
        height: 260px;
        padding: 10px;
        top: 300px; left: 0; right: 0; bottom: 0;
        margin: auto;
        text-align: center;
    }
    .logo-tks{
        width: 50px;
        display: flex;
        justify-content: center;
    }
}
