@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
*{
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.app{
    /* background: url('./images/bg-main-desktop.png') no-repeat; */
    background-color: grey;
/*     background-size: 500px 500px; */
    min-width: 860px;
}
@media(max-width: 375px) {
    .app{
        background-color: blue;
    }

}